# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
NODE_ENV=development
DB_CONNECTION=pg
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT= numero de puerto
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=nombre de la base de datos 