
.profesores-list{
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
  
}
.campo{
  border-radius: 999999px;

  padding: 0px 20px 0px 20px;
  border: 1px solid #00000073;
  background-color: rgb(243, 245, 244);
  height: 10%;

}